    /*!
 * 	Theme Variables
 * ----------------------------------------------- */
    
     :root {
        --body-font-family: 'Noto sans', sans-serif;
        --body-font-size: 16px;
        --body-font-weight: 400;
        --body-font-color: #505d68;
        --body-line-height: 1.45;
        --heading-font-family: 'Chivo', sans-serif;
        --heading-font-color: #222426;
        --heading-font-weight: 700;
        --link-font-color: #222426;
        --link-hover-font-color: #ffb424;
        --white-color: #ffb424;
    }
    /*!
 *	Common
 * ----------------------------------------------- */
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    html {
        font-family: sans-serif;
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    
    article,
    aside,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    nav,
    section {
        display: block;
    }
    
    [tabindex="-1"]:focus:not(:focus-visible) {
        outline: 0 !important;
    }
    
    hr {
        box-sizing: content-box;
        height: 0;
        overflow: visible;
    }
    
    body {
        margin: 0;
        font-family: var(--body-font-family);
        font-size: var(--body-font-size);
        color: var(--body-font-color);
        line-height: var(--body-line-height);
        font-weight: var(--body-font-weight);
        background-color: #fff;
        text-align: left;
    }
    
    img {
        max-width: 100%
    }
    
    a {
        color: var(--link-font-color);
        text-decoration: none;
        -webkit-transition: all .5s;
        transition: all .5s;
    }
    
    a:hover {
        color: var(--link-hover-font-color);
    }
    
    p {
        margin-top: 0;
        margin-bottom: 24px;
    }
    
    p:last-child {
        margin-bottom: 0;
    }
    
    abbr[title],
    abbr[data-original-title] {
        text-decoration: underline;
        -webkit-text-decoration: underline dotted;
        text-decoration: underline dotted;
        cursor: help;
        border-bottom: 0;
        -webkit-text-decoration-skip-ink: none;
        text-decoration-skip-ink: none;
    }
    
    address {
        margin-bottom: 16px;
        font-style: normal;
        line-height: inherit;
    }
    
    ol,
    ul,
    dl {
        margin-top: 0;
        margin-bottom: 24px;
    }
    
    ol,
    ul {
        margin-bottom: 0;
    }
    
    dt {
        font-weight: 700;
    }
    
    dd {
        margin-bottom: .5rem;
        margin-left: 0;
    }
    
    blockquote {
        margin: 0 0 24px;
    }
    
    b,
    strong {
        font-weight: bold;
    }
    
    small {
        font-size: 80%;
    }
    
    sub,
    sup {
        position: relative;
        font-size: 75%;
        line-height: 0;
        vertical-align: baseline;
    }
    
    sub {
        bottom: -.25em;
    }
    
    sup {
        top: -.5em;
    }
    
    a:not([href]):not([class]),
    a:not([href]):not([class]):hover {
        color: inherit;
        text-decoration: none;
    }
    
    pre,
    code,
    kbd,
    samp {
        font-size: 1em;
    }
    
    pre {
        margin-top: 0;
        margin-bottom: 16px;
        overflow: auto;
        -ms-overflow-style: scrollbar;
    }
    
    figure {
        margin: 0 0 16px;
    }
    
    img {
        vertical-align: middle;
        border-style: none;
    }
    
    svg {
        overflow: hidden;
        vertical-align: middle;
    }
    
    table {
        border-collapse: collapse;
    }
    
    caption {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        caption-side: bottom;
    }
    
    th {
        text-align: inherit;
        text-align: -webkit-match-parent;
    }
    
    label {
        display: inline-block;
        margin-bottom: 0.5rem;
    }
    
    button {
        border-radius: 0;
    }
    
    button:focus {
        outline: 1px dotted;
        outline: 5px auto -webkit-focus-ring-color;
    }
    
    input,
    button,
    select,
    optgroup,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    
    button,
    input {
        overflow: visible;
    }
    
    button,
    select {
        text-transform: none;
    }
    
    [role="button"] {
        cursor: pointer;
    }
    
    select {
        word-wrap: normal;
    }
    
    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
        -webkit-appearance: button;
    }
    
    button:not(:disabled),
    [type="button"]:not(:disabled),
    [type="reset"]:not(:disabled),
    [type="submit"]:not(:disabled) {
        cursor: pointer;
    }
    
    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
        padding: 0;
        border-style: none;
    }
    
    input[type="radio"],
    input[type="checkbox"] {
        box-sizing: border-box;
        padding: 0;
    }
    
    textarea {
        overflow: auto;
        resize: vertical;
    }
    
    fieldset {
        min-width: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }
    
    legend {
        display: block;
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin-bottom: 8px;
        font-size: 24px;
        line-height: inherit;
        color: inherit;
        white-space: normal;
    }
    
    progress {
        vertical-align: baseline;
    }
    
    [type="number"]::-webkit-inner-spin-button,
    [type="number"]::-webkit-outer-spin-button {
        height: auto;
    }
    
    [type="search"] {
        outline-offset: -2px;
        -webkit-appearance: none;
    }
    
    [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }
    
     ::-webkit-file-upload-button {
        font: inherit;
        -webkit-appearance: button;
    }
    
    output {
        display: inline-block;
    }
    
    summary {
        display: list-item;
        cursor: pointer;
    }
    
    template {
        display: none;
    }
    
    [hidden] {
        display: none !important;
    }
    
    code {
        font-size: 87.5%;
        color: #e83e8c;
        word-wrap: break-word;
    }
    
    a>code {
        color: inherit;
    }
    
    kbd {
        padding: 4px 8px;
        font-size: 87.5%;
        color: #fff;
        background-color: #212529;
        border-radius: 2px;
    }
    
    kbd kbd {
        padding: 0;
        font-size: 100%;
        font-weight: 700;
    }
    
    pre {
        display: block;
        font-size: 87.5%;
        color: #212529;
    }
    
    pre code {
        font-size: inherit;
        color: inherit;
        word-break: normal;
    }
    
    blockquote {
        font-size: 28px;
        font-weight: 600;
        color: #000103;
        padding-left: 32px;
        border-left: 6px solid #ffb424;
        margin-top: 64px;
        margin-bottom: 64px;
    }
    
    #wrapper {
        overflow: hidden;
        position: relative;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        font-family: var(--heading-font-family);
        color: var(--heading-font-color);
        font-weight: var(--heading-font-weight);
        margin-top: 0;
        margin-bottom: 16px;
        line-height: 1.25;
    }
    
    h1,
    .h1 {
        font-size: 80px
    }
    
    h2,
    .h2 {
        font-size: 64px
    }
    
    h3,
    .h3 {
        font-size: 40px
    }
    
    h4,
    .h4 {
        font-size: 32px
    }
    
    h5,
    .h5 {
        font-size: 24px
    }
    
    h6,
    .h6 {
        font-size: 20px
    }
    
    .section {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    /*!
 *	Spacing
 * ----------------------------------------------- */
    
    .ml-auto,
    .mx-auto {
        margin-left: auto !important;
    }
    
    .mr-auto,
    .mx-auto {
        margin-right: auto !important;
    }
    
    .mt-0 {
        margin-top: 0 !important;
    }
    
    .mt-30 {
        margin-top: 30px !important;
    }
    
    .mt-48 {
        margin-top: 48px !important;
    }
    
    .mt-64 {
        margin-top: 64px !important;
    }
    
    .mt-72 {
        margin-top: 72px !important;
    }
    
    .mb-0 {
        margin-bottom: 0 !important;
    }
    
    .mb-10 {
        margin-bottom: 10px !important;
    }
    
    .mb-24 {
        margin-bottom: 24px !important;
    }
    
    .mb-30 {
        margin-bottom: 30px !important;
    }
    
    .mb-48 {
        margin-bottom: 48px !important;
    }
    
    .mb-64 {
        margin-bottom: 64px !important;
    }
    
    .mb-100 {
        margin-bottom: 100px !important;
    }
    
    .pt-0 {
        padding-top: 0 !important;
    }
    
    .text-white {
        color: #fff !important;
    }
    
    .text-dark {
        color: #222426 !important;
    }
    
    .text-yellow {
        color: #ffb424 !important;
    }
    
    .text-center {
        text-align: center !important;
    }
    /*!
 *	Grid System
 * ----------------------------------------------- */
    
    .wrap,
    .wrap-fuild {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .wrap *,
    .wrap-fuild * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .wrap {
        max-width: 1320px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .row {
        margin-left: -15px;
        margin-right: -15px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
    }
    
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    
    [class*='col-'] {
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .col-1 {
        max-width: 8.33333333%;
        flex: 0 0 8.33333333%;
    }
    
    .col-2 {
        max-width: 16.66666667%;
        flex: 0 0 16.66666667%;
    }
    
    .col-3 {
        max-width: 25%;
        flex: 0 0 25%;
    }
    
    .col-4 {
        max-width: 33.33333333%;
        flex: 0 0 33.33333333%;
    }
    
    .col-5 {
        max-width: 41.66666667%;
        flex: 0 0 41.66666667%;
    }
    
    .col-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }
    
    .col-7 {
        max-width: 58.33333333%;
        flex: 0 0 58.33333333%;
    }
    
    .col-8 {
        max-width: 66.66666667%;
        flex: 0 0 66.66666667%;
    }
    
    .col-9 {
        max-width: 75%;
        flex: 0 0 75%;
    }
    
    .col-10 {
        max-width: 83.33333333%;
        flex: 0 0 83.33333333%;
    }
    
    .col-11 {
        max-width: 91.66666667%;
        flex: 0 0 91.66666667%;
    }
    
    .col-12 {
        max-width: 100%;
        flex: 0 0 100%;
    }
    
    .no-guttor {
        margin-right: 0;
        margin-left: 0;
    }
    
    .no-guttor>[class*='col-'] {
        padding-right: 0;
        padding-left: 0;
    }
    
    .flex-reverse {
        -webkit-flex-direction: row-reverse;
        -moz-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        -o-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    
    .align-center {
        -ms-align-items: center;
        align-items: center;
    }
    /*!
 *	Form Styling
 * ----------------------------------------------- */
    
    .btn {
        display: inline-block;
        padding: 22px 45px;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: #F2F4F7;
        font-family: var(--body-font-family);
        font-size: 18px;
        font-weight: bold;
        border: 1px solid transparent;
        cursor: pointer;
        -webkit-transition: all .3s;
        transition: all .3s;
        line-height: 1;
        text-align: center;
        border-radius: 50px;
        color: black;
    }
    
    .btn:focus {
        outline: none;
    }
    
    .btn--block {
        width: 100%;
        display: block;
    }
    
    .btn--yellow {
        background-color: #ffb424;
        color: #222426;
    }
    
    .btn:hover {
        background-color: black;
        color: white;
    }
    
    .form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 100%;
        border: 1px solid #707070;
        height: 44px;
        padding: 8px 16px;
        background-color: #fff;
        font-family: var(--body-font-family);
        font-size: var(--body-font-size);
        color: var(--body-font-color);
    }
    
    .form-control:focus {
        border-color: #1a1a1a;
        outline: none;
    }
    
    textarea.form-control {
        height: auto;
    }
    
    .form-group {
        margin-bottom: 20px;
        position: relative;
    }
    /*!
 *	Header
 * ----------------------------------------------- */
    
    .site-header {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .header-wrap {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
    }
    
    .navbar {
        margin-left: auto;
        margin-right: auto;
    }
    
    .navbar ul {
        display: flex;
        list-style: none;
        padding-right: 50px;
    }
    
    .navbar ul li {
        padding-left: 60px;
        font-size: 18px;
        font-weight: 500;
    }
    
    .navbar ul li a:hover {
        color: #006D77;
    }
    
    .site-menu {
        position: relative;
    }
    
    .btn::before {
        content: "";
        position: absolute;
        background: url(../images/arrow22.svg);
        width: 12px;
        height: 10px;
        top: 25px;
        right: 15px;
    }
    
    .sticky {
        padding: 20px 0px;
        position: fixed;
        width: 100%;
        z-index: 9999;
        background: #fff;
        top: 0;
        box-shadow: 2px 4px 8px rgba(52, 58, 64, 0.15);
    }
    
    .section--hero {
        background-color: #FAEDE3;
        padding-top: 100px;
        position: relative;
        z-index: 1;
    }
    
    .section--hero::before {
        content: "";
        position: absolute;
        background: url(../images/pattern-21.svg);
        width: 200px;
        height: 200px;
        right: 0px;
        top: 0px;
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .section--hero::after {
        content: "";
        position: absolute;
        background: url(../images/pattern-21.svg);
        width: 200px;
        height: 200px;
        bottom: 0px;
        left: 0px;
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .hero__title h1 {
        line-height: 1.25;
    }
    
    .hero__title h1 span {
        color: #006D77;
    }
    
    .hero__title p {
        color: #667085;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.3;
        margin-top: 40px
    }
    
    .btn-black {
        display: inline-block;
        padding: 22px 45px;
        background-color: black;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        border-radius: 50px;
        color: white;
    }
    
    .btn-black:hover {
        background-color: white;
        color: black;
    }
    
    .btn-more {
        padding-left: 20px;
        font-size: 18px;
        font-weight: bold;
    }
    
    .btn-more {
        position: relative;
    }
    
    .btn-more::after {
        content: "";
        position: absolute;
        width: 12px;
        height: 10px;
        right: -20px;
        top: 5px;
        background: url(../images/right-arrow.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .hero__img {
        position: relative;
    }
    
    .hero__video-shap {
        position: absolute;
        background: url(../images/watch-intro11.png);
        width: 176px;
        height: 224px;
        background-repeat: no-repeat;
        background-size: cover;
        left: -80px;
        bottom: 10%;
    }
    
    .hero__video-shap span {
        font-size: 28px;
        line-height: 1.2;
        font-weight: bold;
        color: white;
        padding: 50px 30px 0px 50px;
        display: inline-block;
    }
    
    .hero__video-shap::after {
        content: "";
        position: absolute;
        width: 64px;
        height: 72px;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
        background: url(../images/play-button.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .section-box {
        padding-top: 0px;
    }
    
    .box__title h2 {
        font-size: 56px;
        line-height: 64px;
        font-weight: 700;
        align-items: center;
    }
    
    .box__title {
        max-width: 66.66%;
        margin: 0 auto;
    }
    
    .box__title p {
        font-size: 24px;
        line-height: 1.3;
        margin-top: 20px;
        color: #475467;
    }
    
    .box__brand {
        margin-left: auto;
        margin-right: auto;
    }
    
    .box__brand ul {
        display: flex;
        list-style: none;
        margin-left: 20px;
    }
    
    .box__brand li {
        margin-left: 20px;
    }
    
    .box__brand ul li {}
    
    .box__brand li:hover {}
    
    .box__brand li a {
        padding: 22px 32px;
        font-size: 18px;
        font-weight: bold;
        background-color: #f2f4f7;
        border-radius: 50px;
        display: block;
        border: 2px solid transparent;
    }
    
    .box__brand li a:hover {
        background-color: white;
        border-color: #006D77;
        color: #006D77;
    }
    
    .box-bg {
        background-color: #fff3ea;
    }
    
    .box__title2 {
        padding: 60px;
        position: relative;
    }
    
    .box__title2::before {
        content: "";
        position: absolute;
        width: 146px;
        height: 132px;
        right: -660px;
        top: 0px;
        background: url(../images/pattern-3.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .box__title2::after {
        content: "";
        position: absolute;
        width: 135px;
        height: 135px;
        right: -100px;
        bottom: 130px;
        background: url(../images/play-button21.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .box__title2 h3 {
        font-size: 42px;
        line-height: 44px;
        font-weight: 600;
    }
    
    .box__title2 p {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.4;
        color: #111513;
        margin-top: 30px;
    }
    
    .btn-white {
        display: inline-block;
        padding: 22px 45px;
        background-color: white;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        border-radius: 50px;
        color: black;
    }
    
    .btn-white:hover {
        color: white;
        background-color: #101828;
    }
    
    .Strategy__business {
        background-color: #DBECE5 !important;
        padding: 53px 48px;
        border-radius: 16px;
    }
    
    .Strategy__business h3 {
        font-size: 35px;
        margin-top: 20px;
    }
    
    .Strategy__business p {
        font-size: 18px;
        margin-top: 20px;
        line-height: 1.4;
        color: #111513;
    }
    
    .Strategy__business {
        position: relative;
    }
    
    .Strategy__business::after {
        content: "";
        position: absolute;
        width: 115px;
        height: 113px;
        right: 0px;
        bottom: 0px;
        background: url(../images/bg-business.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .bg-2 {
        background-color: #D1ECFD !important;
    }
    
    .bg-3 {
        background-color: #FFF3EA !important;
    }
    
    .what-do__img img {
        border-radius: 16px;
    }
    
    .what-do__tag span {
        background-color: #FFF3EA;
        border-radius: 50px;
        padding: 14px 28px;
        color: #E29578;
        font-size: 14px;
        display: inline-block;
        line-height: 1;
    }
    
    .what-do__tag h3 {
        font-size: 56px;
        font-weight: bold;
        line-height: 1.2;
        margin-top: 30px;
    }
    
    .what-do__tag p {
        font-size: 24px;
        line-height: 1.3;
        font-weight: 400;
        margin-top: 30px;
        color: #475467;
        margin-bottom: 50px;
    }
    
    .what-do__tag {
        border-bottom: 2px dashed #006D77;
    }
    
    .what-do__title h4 {
        font-size: 18px;
        line-height: 1.2;
        font-weight: bold;
        position: relative;
        padding-left: 28px;
    }
    
    .what-do__title h4::after {
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        left: 0px;
        top: 0px;
        background: url(../images/icon-leaf.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .what-do__title p {
        font-size: 18px;
        line-height: 1.4;
        font-weight: 400;
        color: #475467;
        margin-top: 15px;
    }
    
    .what-do__content {
        padding-left: 30px;
    }
    
    .section-bg {
        background-color: #FFF3EA !important;
        border-radius: 58px;
        padding-left: 130px;
        padding-right: 130px;
        padding-bottom: 60px;
        padding-top: 50px;
        margin-left: 60px;
        position: relative;
    }
    
    .card__design {
        padding: 53px 48px;
        border-radius: 16px;
        background-color: white;
        display: inline-block;
        height: 100%;
    }
    
    .section-bg::after {
        content: "";
        position: absolute;
        width: 162px;
        height: 162px;
        left: -40px;
        top: 0px;
        background: url(../images/pattern-white.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .card__design h3 {
        font-size: 22px;
        line-height: 1;
        font-weight: bold;
        margin-top: 20px;
    }
    
    .card__design p {
        color: #475467;
        font-size: 16px;
        line-height: 1.8;
        font-weight: 400;
        margin-top: 20px;
    }
    
    .customer__title h2 {
        font-size: 56px;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 10px;
    }
    
    .customer__title p {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.3;
        color: #475467;
    }
    
    .customer__reviews {
        padding: 40px 40px 10px 40px;
        background-color: white;
        margin-bottom: 30px;
        border: 10px solid #D1ECFD;
        transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    }
    
    .lois {
        border-color: #FAD2E1;
    }
    
    .nintendo {
        border-color: #BEE1C8;
    }
    
    .starbucks {
        border-color: #DDD3FA;
    }
    
    .customer__reviews:hover {
        transform: translateY(-3px);
        transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    }
    
    .customer__reviews img {
        border-radius: 50%;
    }
    
    .customer__reviews h3 {
        font-size: 22px;
        font-weight: bold;
        margin-top: 20px;
        line-height: 1;
        margin-bottom: 0px;
    }
    
    .customer__reviews span {
        font-size: 13px;
        font-weight: 500;
        display: inline-block;
    }
    
    .customer__reviews p {
        font-size: 16px;
        color: #667085;
        margin-top: 20px;
        line-height: 28px;
    }
    
    .news__heading {
        display: flex;
        justify-content: space-between;
    }
    
    .news__blog span {
        font-size: 12px;
        line-height: 1.3;
        color: #667085;
        display: block;
        position: relative;
        padding-left: 10px;
    }
    
    .news__blog span::after {
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        left: 0px;
        top: 5px;
        background: url(../images/dot.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .news__blog a {
        font-size: 28px;
        font-weight: bold;
        line-height: 1.1;
        padding: 15px 0px 25px 0px;
        display: block;
        color: #101828;
    }
    
    .news__blog a:hover {
        color: #006D77;
    }
    
    .news__imgs img {
        border-radius: 16px;
    }
    
    .news__imgs {
        position: relative;
        z-index: 99;
    }
    
    .news__imgs ::before {
        content: "";
        position: absolute;
        width: 400px;
        height: 250px;
        right: -10px;
        bottom: -20px;
        background-color: #D1ECFD;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 16px;
        z-index: -1;
    }
    
    .news__imgs2 img {
        border-radius: 16px;
    }
    
    .news__imgs2 {
        position: relative;
        z-index: 99;
    }
    
    .news__imgs2 ::before {
        content: "";
        position: absolute;
        width: 400px;
        height: 250px;
        right: -10px;
        bottom: -20px;
        background-color: #FAD2E1;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 16px;
        z-index: -1;
    }
    
    .section--plan {
        background-color: #006D77;
        padding: 20px 0px 50px 0px;
        margin-top: 100px;
        position: relative;
    }
    
    .section--plan::before {
        content: "";
        position: absolute;
        width: 150px;
        height: 150px;
        right: 0px;
        top: 0px;
        background: url(../images/pattern-4.svg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.3;
    }
    
    .section--plan::after {
        content: "";
        position: absolute;
        width: 150px;
        height: 150px;
        left: -30px;
        bottom: 0px;
        background: url(../images/pattern-5.svg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.3;
    }
    
    .plan__heading h2 {
        font-size: 56px;
        font-weight: bold;
        line-height: 1.1;
        color: white;
        margin-bottom: 10px;
    }
    
    .plan__switch span {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.7;
        display: inline-block;
        color: white;
        margin-left: 20px;
    }
    
    .plan__info {
        margin: 0 auto;
        max-width: 1100px;
    }
    
    .plan__bill {
        background-color: white;
        display: inline-block;
        padding: 40px 32px;
        border-radius: 16px;
        margin-bottom: 30px;
    }
    
    .plan__price h6 {
        font-size: 35px;
        font-weight: bold;
        line-height: 1;
        display: inline-block;
    }
    
    .plan__price span {
        font-size: 19px;
        line-height: 1.3;
        color: #98A2B3 !important;
        display: inline-block;
    }
    
    .plan__price h4 {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 15px;
        line-height: 1;
        padding-top: 10px;
    }
    
    .plan__price p {
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        color: #98A2B3 !important;
    }
    
    .plan__price {
        border-bottom: 1px solid #D0D5DD;
        padding: 0px 0px 40px 0px;
        margin-bottom: 21px;
    }
    
    .plan__list {
        padding: 0px;
    }
    
    .plan__list li {
        font-size: 14px;
        margin-bottom: 12px;
        list-style: none;
        color: #101828;
        padding: 1px 0px 1px 30px;
        position: relative;
    }
    
    .plan__list li::after {
        content: "";
        position: absolute;
        width: 22px;
        height: 22px;
        left: 0px;
        top: 0px;
        background: url(../images/check-circle.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .plan__list .plan__unchek {
        position: relative;
    }
    
    .plan__list .plan__unchek::before {
        content: "";
        position: absolute;
        width: 22px;
        height: 22px;
        left: 0px;
        top: 0px;
        background: url(../images/un-check-circle.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .plan__list .plan__unchek::after {
        display: none;
    }
    
    .plan__link a {
        border: 1px solid #101828;
        padding: 12px 22px;
        border-radius: 8px;
        text-align: left;
        font-size: 18px;
        letter-spacing: 0.45px;
        line-height: 1.2;
        font-weight: 800;
        display: inline-block;
        width: 100%;
    }
    
    .plan__link {
        position: relative;
    }
    
    .plan__link::before {
        content: "";
        position: absolute;
        width: 12px;
        height: 10px;
        right: 30px;
        top: 17px;
        background: url(../images/fi-sr-arrow-small-right.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .plan__link:hover a {
        background-color: #101828;
        color: gray;
    }
    
    .section--newsletter {
        background-color: #FFF3EA !important;
        border-radius: 18px;
        padding: 52px 74px;
        margin: 0 auto;
        max-width: 1100px;
        margin-top: 100px;
    }
    
    .newslette__title span {
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 2px;
        font-weight: 400;
        color: #667085;
    }
    
    .newslette__title h4 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 42px;
        font-weight: bold;
        line-height: 44px;
    }
    
    .newslette__title a {
        color: #006D77;
        text-decoration: none;
        font-size: 14px;
        display: inline-block;
        margin-top: 0px;
    }
    
    .newslette__title a:hover {
        color: #20c997;
    }
    
    .newslette__title p {
        margin-bottom: 3px;
    }
    
    .newsletter__email form input {
        background-color: white;
        max-width: 500px;
        padding: 30px 60px;
        border-radius: 55px;
        border: none;
    }
    
    .newsletter__email {
        position: relative;
    }
    
    .newsletter__email::before {
        content: "";
        position: absolute;
        width: 117px;
        height: 117px;
        right: 10px;
        top: -10px;
        background: url(../images/btn-send.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .newsletter__img img {
        margin-left: 220px;
        margin-bottom: -250px;
        border-radius: 16px;
    }
    
    .newsletter__img {
        position: relative;
    }
    
    .newsletter__img::before {
        content: "";
        position: absolute;
        width: 255px;
        height: 193px;
        right: 280px;
        top: 95px;
        background: url(../images/chart.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 16px;
    }
    
    .site-footer {
        padding-top: 70px;
        margin-bottom: 50px;
    }
    
    .footer__top {
        padding-bottom: 40px;
    }
    
    .footer__text span {
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        color: #101828 !important;
        margin-right: 30px !important;
    }
    
    .footer__text a {
        font-size: 14px;
        border-radius: 4px;
        background-color: black;
        color: white;
        font-weight: bold;
        padding: 18px 20px;
    }
    
    .footer__text a:hover {
        background-color: white;
        color: black;
        border: 2px solid black;
    }
    
    .footer__start {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #E4E7EC;
    }
    
    .footer__address h4 {
        font-size: 22px;
        line-height: 24px;
        font-weight: bold;
    }
    
    .footer__address p {
        font-size: 16px;
        line-height: 28px;
        font-weight: 400 !important;
        color: #475467;
    }
    
    .footer__address span {
        font-size: 16px;
        line-height: 28px;
        font-weight: 400 !important;
        color: #475467;
        display: inline-block;
    }
    
    .footer__about h4 {
        font-size: 22px;
        line-height: 24px;
        font-weight: bold;
    }
    
    .footer__about ul {
        list-style: none;
        padding-left: 0;
        margin-top: 20px;
    }
    
    .footer__about ul li {
        font-size: 16px;
        line-height: 28px;
        color: #475467;
        padding-bottom: 10px;
    }
    
    .team {
        margin-left: 50px;
    }
    
    .footer__about li a:hover {
        color: green;
        padding-left: 10px;
    }
    
    .footer__main {
        border-bottom: 1px solid #E4E7EC;
        padding-bottom: 20px;
    }
    
    .footer__services span {
        color: #98A2B3 !important;
        font-size: 16px;
        line-height: 1.5;
        font-weight: bold;
    }
    
    .footer__services a {
        color: #98A2B3 !important;
        margin-left: 50px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }
    
    .footer__social {
        text-align: right;
    }
    
    .footer__social a {
        margin-left: 10px;
    }
    
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        position: absolute;
        top: -65px;
        color: #000;
        font-size: 40px;
        line-height: 11px;
        border: 1px solid #e5e7eb;
        background-color: #f2f4f7;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 72, 88, 0.2) 0px 5px 13px 0px;
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }
    
    .owl-carousel .owl-nav button.owl-next {
        right: 0;
    }
    
    .owl-carousel .owl-nav button.owl-prev {
        right: 100px;
    }
    
    .owl-carousel .owl-nav button.owl-prev:hover {
        background-color: #000;
        background-image: url(../images/left-arrowwhite.svg);
    }
    
    .owl-carousel .owl-nav button.owl-next:hover {
        background-color: #000;
        background-image: url(../images/right-arrowwhite.svg);
    }
    
    .scroll {
        height: 1000px;
        background-color: lightgreen;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    .scrolltop {
        height: 42px;
        width: 42px;
        color: #f0ecec;
        background-color: #006D77;
        position: fixed;
        align-items: center;
        display: flex;
        justify-content: center;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        bottom: 40px;
        right: 40px;
        z-index: 9999;
        border-radius: 50%;
    }
    
    .scrolltop:hover {
        bottom: 30px;
    }